/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-image: url(../graphite.jpg);
}

.search-title {
  text-align: center;
  font-family: times;
  color: rgba(251,224,223,1);
}

.navbar-brand {
  font-family: times;
  color: rgba(251,224,223,1);
}

ul#images li {
    width: 200px;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
    margin: 5px;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: 200px
}

ul#images li button {
    display: inline-block;
}


ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}
div {
  font-size: 0;
}















